body {
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-family: "Montserrat", sans-serif !important;
}

.row {
  padding: 1rem 0;
}

@media only screen and (max-width: 600px) {
  tr th,
  td {
    padding: 0rem 0.8rem !important;
  }
}
